.input_filter {
    padding: 5px; /* Añade relleno (padding) para espacio interno */
    margin-right: 10px; /* Añade margen a la derecha para espacio entre el input y el botón */
    border: 1px solid #ccc; /* Agrega un borde para resaltar el campo de entrada */
    width: 80%;
  }
  
.button_search {
    background-color: #007bff; /* Fondo azul para el botón */
    color: #fff; /* Texto blanco en el botón */
    padding: 1px 20px; /* Añade relleno para espacio interno en el botón */
    padding-bottom: 10px;
    margin-bottom: 4px;
    margin-top: 2px;
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }