table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table, th, td {
    border: 1px solid rgb(255, 255, 255);
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    color: black;
  }
  
  tr:nth-child(even) {
    background-color: #cac9c9;
  }
  
  tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  thead {
    font-weight: bold;
    font-size: 24px;
  }